.header{
    width: 100%;
    height: 70px;
    
}
.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo_img{
    
    width: 140px;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;  
    width: 90px;  
}
.logo_img img{
    width: 100%;

}
.title{
  display: flex;
   column-gap: 5rem; 
   flex-direction: column;
    
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 2rem;

}
.nav_item a{
    color: black;
    font-weight: 700 !important;
    cursor: pointer;
    transition: 0.35s;
    margin-left: 100px;

}
.nav_item a :hover {
color: #b350b3;
}
.nav_right{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.register_btn{
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #fff;
    background: #b350b3;
    border-radius: 5px;
    margin-left: 40px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.mobile_menu {
    cursor: pointer;
    font-size: 1.3rem;
    color: #b350b3;
    display: none;
    

}
.sticky_header{
    width: 100%;
    position:sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff;
}